#resume{
	margin-top: 20px;
	margin-right: 10%;
	margin-left: 10%;
	color: #276363;
}
#header{
	background-color: #DBD3CA;
	columns: 1px 2;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
}
#objectiveh3{
	border-style: solid;
    border-bottom: thick line #ff0000;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 40%;
}
h4 {
	border-style: solid;
    border-bottom: thick line #ff0000;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 20%;
}
#resume{
	float:left;
	 font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	  font-size: 24px; font-style: normal; font-variant: normal; 
	  font-weight: 700; line-height: 26.4px; 
} 
h3 { 
	font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px; 
}
 p { 
 	font-family: Futura, "Trebuchet MS", Arial, sans-serif; 
 	font-size: 14px; 
 	font-style: normal; 
 	font-variant: normal; 
 	font-weight: 400; 
 	line-height: 20px;
 }
#column {
	float: left;
	width: 33.33%;
}
#row:after {
	content: "";
	display: table;
	clear: both;
}
#experience {
	text-align: center;
}
#duties {
	text-align: left;
	font-size: 18px;
	font-weight: 400;
}
dl{
	text-align: left;
	font-size: 18px;
	font-weight: 400;
}
#languages {
	columns: 1px 4;
}
